body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

h1, a, p, span {
  display: inline-block;
  background-color: #DDDDDDDD;
}

.hidden-text {
  font-size: 20px;
  background-color: #0000;
  color: #0000;
}

.hidden-text:hover {
  cursor: default;
  transition: 0.5s;
  color: #000F;
}

.hidden-text-div {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

h1 {
  width: 231px;
  font-size: 35px;
}

a {
  color: #3289d1;
}

a:hover {
  transition: 0.1s;
  color: #00B7FF;
}

.button-1 {
  background-color: #4F4;
  font-size: 50px;
  height: 500px;
  width: 1000px;
}

.button-1:hover {
  cursor: pointer; 
  transition: 0.35s;
  background-color: #F44;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}