body {
  margin: 0;
  background-color: #343434;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: #DDD;
}

a {
  color: #3289d1;
}

a:hover {
  transition: 0.1s;
  color: #00B7FF;
}

.navbar-container {
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color: #aaa;
  top: 0px;
  width: 100vw;
  height: 40px;
}

.navbar-item {
  font-size: 18px;
  padding: 10px 2px;
  transition: 0.2s;
}

.navbar-item:hover {
  cursor: pointer;
  background-color: #ddd;
  transition: 0.2s;
  margin: 0 -48px;
  padding: 10px 50px;
}

.navbar-link, .navbar-link:hover {
  padding: 0 50px;
  margin: 0 -48px;
  color: #000;
  text-decoration: none;
}

.hidden-text {
  margin: 0;
  font-size: 20px;
  background-color: #0000;
  color: #0000;
}

.hidden-text:hover {
  cursor: default;
  transition: 0.5s;
  color: #000F;
}

.hidden-text-div {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.heading {
  font-size: 48px;
  font-weight: 600;
  margin: 50 0 0 0;
  display: flex;
  justify-content: center;
}

.subheading {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}