@font-face {
  font-family: normal-font;
  src: url(./Normal-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: normal-font;
  src: url(./Normal-ExtraLight.woff2);
  font-weight: 200;
}

@keyframes slide-in-banner {
  0% {
    translate: -100% 0;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes slide-in-card {
  from {
    bottom: -100%;
  }
  to {
    bottom: 12vh; /* STOP DOING THIS */
  }
}

@keyframes slide-in-footer {
  0% {
    bottom: -2em;
    opacity: 0;
  }
  100% {
    bottom: 0em;
    opacity: 1;
  }
}

/* horizon theme */
:root {
  --main-text-color: white;
  --main-card-width: 60vw;
  --bg-color: #161e26;
  --bg-line-color: #262934;
  --line-color: #3f4146;
  --my-stuff-color: #3f4146;
  --accent: #e95378;
  --accent-hover: #f93b67;
  --anchor-background: #e9537809;
  --anchor-background-hover: #e9537815;
  --main-card-background: #1e2833cc;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: var(--bg-color);
  background-image: linear-gradient(var(--bg-line-color) 2px, transparent 2px),
    linear-gradient(90deg, var(--bg-line-color) 2px, transparent 2px);
  background-size: 10rem 10rem;
  background-position: -0.1rem -0.1rem;
}

a,
a:visited {
  user-select: none;
  transition: 0.1s;
  background-color: var(--anchor-background);
  padding: 0px 3px;
  margin: -2px -3px;
  border-radius: 3px;
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  transition: 0.1s;
  background-color: var(--anchor-background-hover);
  color: var(--accent-hover);
  text-decoration: underline 0.075em;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  translate: 0 -2.25em;
  background-color: var(--line-color);
  color: var(--my-stuff-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.my-stuff-label {
  translate: -8px -1.5em;
}

.banner {
  font-family: 'normal-font';
  font-weight: 200;
  font-size: 12vmin;

  display: flex;
  justify-content: center;

  padding-top: 0.5em;

  translate: -100% 0;

  animation: slide-in-banner 1s ease 1s;
  animation-fill-mode: forwards;
}

.main-card {
  background-color: var(--main-card-background);
  border-radius: 20px;

  width: var(--main-card-width);
  height: 65vh;

  position: fixed;
  left: calc(50vw - var(--main-card-width) / 2);
  bottom: -100%;

  padding: 10px 20px;
  margin: -20px;

  font-family: normal-font, sans-serif;
  font-weight: 200;
  font-size: 2vmin;

  color: var(--main-text-color);
  border: 1px solid var(--line-color);

  animation: slide-in-card 1s ease 1.5s;
  animation-fill-mode: forwards;

  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: space-evenly;
  align-items: flex-end;
}

.card-title {
  font-size: 3.33vmin;
}

.small {
  font-size: 1.11vmin;
}

.beeeg {
  font-size: 2.5vmin;
}

.beeeeg {
  font-size: 2.77vmin;
}

.highlighted {
  color: var(--accent);
}

.footer-animation {
  animation: slide-in-footer 1s ease 2.1s;
}

.footer-item {
  transition: 0.1s;
  padding: 3px 10px;
  background-color: var(--anchor-background);
  border-radius: 3px;
  position: relative;
  bottom: -2em;
  opacity: 0;
  animation-fill-mode: forwards;
}

.footer-item:hover {
  transition: 0.1s;
  padding: 3px 10px;
  background-color: var(--anchor-background-hover);
  border-radius: 3px;
  position: relative;
  bottom: -2em;
  opacity: 0;
  animation-fill-mode: forwards;
}
